.carousel {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.carousel-container h1 {
    font-size: 48px;
}
.carousel-container h3 {
    padding: 20px;
    font-size: 36px;
}

.carousel-container img {
    max-height: 50%;
    width: auto;
    max-width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.process {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 50px;
    list-style: none;
}

.process li {
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    margin: 0 4px;
    background-color: var(--bg-grey);
}

.process li .process_active {
    display: flex;
    background-color: var(--bg-active-grey);
    border-radius: 2px;
    height: 100%;
    width: 0;
}

@keyframes progress {
    form {
      width: 0%;
    }
    to {
      width: 100%;
    }
}
